body {
    background-image: url("../images/windows_xp.jpg")
}

.field_builder {
    background-color: rgb(255, 255, 255);
    width: 375px;
    height: 375px;
    margin: 115px;
    border: solid #0053ee;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h1 {
    font-size: 18px;
    margin: auto;
    text-align: left;
    color: #ffffff;
    height: 25px; 
}

.box_label {
    width: 300px;
    padding: 5px 5px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(15, 15, 15);
}

.box_default {
    width: 230px;
    padding: 5px 5px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(15, 15, 15);
}

button {
    background-color: #245DDA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_add {
    background-color: white; 
    color: black; 
    border: 1px solid #245DDA;
}

.button_add:hover {
    background-color: #245DDA;
    color: #245DDA;
}

.box_add {
    width: 255px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(15, 15, 15);
}

.list_current {
    width: 340px;
    height: 75px;
    margin: 10px
}

.button_delete {
    background-color: white; 
    color: black; 
    border: 1px solid #245DDA;
    margin-left: -97px;
}

.button_delete:hover {
    background-color: #245DDA;
    color: #245DDA;
}

.button_sort {
    background-color: white; 
    color: black; 
    border: 1px solid #245DDA;
    margin-right: 115px
}

.button_sort:hover {
    background-color: #245DDA;
    color: #245DDA;
}

.button_save {
    background-color: white; 
    color: black; 
    border: 1px solid #245DDA;
    margin-left: -15px
}

.button_save:hover {
    background-color: #245DDA;
    color: #245DDA;
}

.button_clear {
    background-color: white; 
    color: black; 
    border: 1px solid #245DDA;
    margin-right: 50px;
}

.button_clear:hover {
    background-color: #245DDA;
    color: #245DDA;
}

.text_label {
    font-size: 17px
}

.type_ms {
    margin-left: -58px;
    font-size: 17px
}

.value_is_label {
    font-size: 17px
}

.dv_label {
    margin-left: -12px;
    font-size: 17px
}

.order_label {
    font-size: 17px
}

.window {
    width: 375px;
}

input[type=checkbox]+label:before {
    content: "";
    position: absolute;
    left: -19px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 6px;
}

input[type=checkbox]:checked+label:after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    position: absolute;
}